# pip freeze > requirements.txt
# pip install -r requirements.txt


celery==5.2.7
Django==4.1.2
django-crispy-forms==1.14.0
django-debug-toolbar==3.7.0
django-markdownify==0.9.2
django-redis==5.2.0
Pillow==9.3.0
redis==4.3.5
social-auth-app-django==5.0.0
social-auth-core==4.3.0

