{% extends 'authapp/base.html' %}
{% load static %}

{% block content %}
<form method="POST">
  {% csrf_token %}
  <p>
    <input id="id_username" class="form-control" type="text" name="username" placeholder="Имя пользователя" required=""
      autofocus="">
  </p>
  <p>
    <input id="id_password" class="form-control" type="password" name="password" placeholder="Пароль" required="">
  </p>
  <p>
    <button type="submit" class="btn btn-primary btn-block">Войти</button>
  </p>
</form>
<div class="row justify-content-between">
  <div class="col">
    <a href="{% url 'authapp:register' %}"><small>Регистрация</small></a>
  </div>
  <div class="col">
    <p>
      <a href=""><small>Забыли пароль?</small></a>
    </p>
  </div>
</div>



{% endblock %}