{% extends 'authapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy}}
    <p>
        <button type="submit" class="btn btn-primary btn-block">Зарегистрироваться</button>
    </p>
</form>

{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        {% if messages %}
        // Toasts
        $(".toast").toast({ delay: 5000 });
        $(".toast").toast("show");
        {% endif %}
    });
</script>
{% endblock %}