{% extends 'mainapp/base.html' %}

{% block content %}


<div class="row justify-content-center pt-3">
    <div class="col-md-12 col-lg-8">
        <div class="card my-2">
            <div class="card-body">
                <h5 class="card-title">{{ object.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ object.created_at|date:"d.m.Y" }}</h6>
                <p class="card-text">{{ object.preamble }}</p>
                <p class="card-text">{{ object.body }}</p>
                <a href="#" class="card-link">Подробнее</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}